
.nuxt-progress
{
position: fixed;
top: 0px;
left: 0px;
right: 0px;
height: 2px;
width: 0%;
opacity: 1;
transition: width 0.1s, opacity 0.4s;
background-color: #cf5c2c;
z-index: 999999;
}
.nuxt-progress.nuxt-progress-notransition
{
transition: none;
}
.nuxt-progress-failed
{
background-color: red;
}
h1
{
font-size:2em
}
button,dl dl,dl ol,dl ul,input,ol dl,ol ol,ol ul,select,ul dl,ul ol,ul ul
{
margin:0
}
details,main
{
display:block
}
code,kbd,pre,samp
{
font-family:monospace,monospace;
font-size:1em
}
abbr[title]
{
text-decoration:underline;
text-decoration:underline dotted
}
b,strong
{
font-weight:bolder
}
small
{
font-size:80%
}
svg:not(:root)
{
overflow:hidden
}
button
{
overflow:visible;
text-transform:none;
cursor:pointer;
outline:0
}
[type=button],[type=reset],[type=submit],button
{
-webkit-appearance:button
}
fieldset
{
padding:.35em .75em .625em
}
input
{
overflow:visible;
vertical-align:middle
}
legend
{
box-sizing:border-box;
color:inherit;
display:table;
max-width:100%;
white-space:normal
}
progress
{
display:inline-block;
vertical-align:baseline
}
select
{
text-transform:none
}
textarea
{
margin:0;
overflow:auto;
resize:none
}
[type=search]
{
-webkit-appearance:textfield;
outline-offset:-2px
}
::-webkit-inner-spin-button,::-webkit-outer-spin-button
{
height:auto
}
::-webkit-input-placeholder
{
color:inherit;
opacity:.54
}
::-webkit-search-decoration
{
-webkit-appearance:none
}
::-webkit-file-upload-button
{
-webkit-appearance:button;
font:inherit
}
::-moz-focus-inner
{
border-style:none;
padding:0
}
:-moz-ui-invalid
{
box-shadow:none
}
dialog
{
background-color:#fff;
border:solid;
color:#000;
display:block;
height:-moz-fit-content;
height:-webkit-fit-content;
height:fit-content;
left:0;
margin:auto;
padding:1em;
position:absolute;
right:0;
width:-moz-fit-content;
width:-webkit-fit-content;
width:fit-content
}
dialog:not([open]),template
{
display:none
}
summary
{
display:list-item
}
.mdc-snackbar
{
z-index:8;
margin:8px;
display:none;
position:fixed;
right:0;
bottom:0;
left:0;
align-items:center;
justify-content:center;
box-sizing:border-box;
pointer-events:none;
-webkit-tap-highlight-color:transparent
}
.mdc-snackbar__surface
{
background-color:#333;
min-width:344px
}
@media (max-width:480px),(max-width:344px)
{
.mdc-snackbar__surface
{
min-width:100%
}
}
.mdc-snackbar--closing,.mdc-snackbar--open,.mdc-snackbar--opening
{
display:flex
}
.mdc-snackbar--leading
{
justify-content:flex-start
}
.mdc-snackbar--stacked .mdc-snackbar__label
{
padding-left:16px;
padding-right:0;
padding-bottom:12px
}
.mdc-snackbar--stacked .mdc-snackbar__label[dir=rtl],[dir=rtl] .mdc-snackbar--stacked .mdc-snackbar__label
{
padding-left:0;
padding-right:16px
}
.mdc-snackbar--stacked .mdc-snackbar__surface
{
flex-direction:column;
align-items:flex-start
}
.mdc-snackbar--stacked .mdc-snackbar__actions
{
align-self:flex-end;
margin-bottom:8px
}
.mdc-snackbar__surface
{
max-width:672px;
box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
border-radius:4px;
padding-left:0;
padding-right:8px;
display:flex;
align-items:center;
justify-content:flex-start;
box-sizing:border-box;
transform:scale(.8);
opacity:0
}
.mdc-snackbar__surface[dir=rtl],[dir=rtl] .mdc-snackbar__surface
{
padding-left:8px;
padding-right:0
}
.mdc-snackbar--open .mdc-snackbar__surface
{
transform:scale(1);
opacity:1;
pointer-events:auto;
transition:opacity 150ms cubic-bezier(0,0,.2,1),transform 150ms cubic-bezier(0,0,.2,1)
}
.mdc-snackbar--closing .mdc-snackbar__surface
{
transform:scale(1);
transition:opacity 75ms cubic-bezier(.4,0,1,1)
}
.mdc-snackbar__label
{
color:rgba(255,255,255,.87);
font-family:Roboto,sans-serif;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-size:.875rem;
line-height:1.25rem;
font-weight:400;
letter-spacing:.0178571429em;
text-decoration:inherit;
text-transform:inherit;
width:100%;
flex-grow:1;
box-sizing:border-box;
margin:0;
padding:14px 8px 14px 16px
}
.mdc-snackbar__label[dir=rtl],[dir=rtl] .mdc-snackbar__label
{
padding-left:8px;
padding-right:16px
}
.mdc-snackbar__label::before
{
display:inline;
content:attr(data-mdc-snackbar-label-text)
}
.mdc-snackbar__actions
{
display:flex;
flex-shrink:0;
align-items:center;
box-sizing:border-box
}
.mdc-snackbar__action:not(:disabled)
{
color:#bb86fc
}
.mdc-snackbar__action::after,.mdc-snackbar__action::before
{
background-color:#bb86fc
}
.mdc-snackbar__action:hover::before
{
opacity:.08
}
.mdc-snackbar__action.mdc-ripple-upgraded--background-focused::before,.mdc-snackbar__action:not(.mdc-ripple-upgraded):focus::before
{
transition-duration:75ms;
opacity:.24
}
.mdc-snackbar__action:not(.mdc-ripple-upgraded)::after
{
transition:opacity 150ms linear
}
.mdc-snackbar__action:not(.mdc-ripple-upgraded):active::after
{
transition-duration:75ms;
opacity:.24
}
.mdc-snackbar__action.mdc-ripple-upgraded
{
--mdc-ripple-fg-opacity:0.24
}
.mdc-snackbar__dismiss
{
color:rgba(255,255,255,.87)
}
.mdc-snackbar__dismiss::after,.mdc-snackbar__dismiss::before
{
background-color:rgba(255,255,255,.87)
}
.mdc-snackbar__dismiss:hover::before
{
opacity:.08
}
.mdc-snackbar__dismiss.mdc-ripple-upgraded--background-focused::before,.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):focus::before
{
transition-duration:75ms;
opacity:.24
}
.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded)::after
{
transition:opacity 150ms linear
}
.mdc-snackbar__dismiss:not(.mdc-ripple-upgraded):active::after
{
transition-duration:75ms;
opacity:.24
}
.mdc-snackbar__dismiss.mdc-ripple-upgraded
{
--mdc-ripple-fg-opacity:0.24
}
.mdc-snackbar__dismiss.mdc-snackbar__dismiss
{
width:36px;
height:36px;
padding:9px;
font-size:18px
}
.mdc-snackbar__dismiss.mdc-snackbar__dismiss img,.mdc-snackbar__dismiss.mdc-snackbar__dismiss svg
{
width:18px;
height:18px
}
.mdc-snackbar__action+.mdc-snackbar__dismiss
{
margin-left:8px;
margin-right:0
}
.mdc-snackbar__action+.mdc-snackbar__dismiss[dir=rtl],[dir=rtl] .mdc-snackbar__action+.mdc-snackbar__dismiss
{
margin-left:0;
margin-right:8px
}
.mdc-elevation-overlay
{
position:absolute;
border-radius:inherit;
opacity:0;
pointer-events:none;
transition:opacity 280ms cubic-bezier(.4,0,.2,1);
background-color:#fff
}
.mdc-menu
{
min-width:112px
}
.mdc-menu .mdc-list-item__graphic,.mdc-menu .mdc-list-item__meta
{
color:rgba(0,0,0,.87)
}
.mdc-menu .mdc-list
{
color:rgba(0,0,0,.87);
position:relative
}
.mdc-menu .mdc-list .mdc-elevation-overlay
{
width:100%;
height:100%;
top:0;
left:0
}
.mdc-menu .mdc-list-divider
{
margin:8px 0
}
.mdc-menu .mdc-list-item
{
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none
}
.mdc-menu .mdc-list-item--disabled
{
cursor:auto
}
.mdc-menu a.mdc-list-item .mdc-list-item__graphic,.mdc-menu a.mdc-list-item .mdc-list-item__text
{
pointer-events:none
}
.mdc-menu__selection-group
{
padding:0;
fill:currentColor
}
.mdc-menu__selection-group .mdc-list-item
{
padding-left:56px;
padding-right:16px
}
.mdc-menu__selection-group .mdc-list-item[dir=rtl],[dir=rtl] .mdc-menu__selection-group .mdc-list-item
{
padding-left:16px;
padding-right:56px
}
.mdc-menu__selection-group .mdc-menu__selection-group-icon
{
left:16px;
right:initial;
display:none;
position:absolute;
top:50%;
transform:translateY(-50%)
}
.mdc-menu__selection-group .mdc-menu__selection-group-icon[dir=rtl],[dir=rtl] .mdc-menu__selection-group .mdc-menu__selection-group-icon
{
left:initial;
right:16px
}
.mdc-menu-item--selected .mdc-menu__selection-group-icon
{
display:inline
}
.mdc-menu-surface
{
display:none;
position:absolute;
box-sizing:border-box;
max-width:calc(100vw - 32px);
max-height:calc(100vh - 32px);
margin:0;
padding:0;
transform:scale(1);
transform-origin:top left;
opacity:0;
overflow:auto;
will-change:transform,opacity;
z-index:8;
transition:opacity 30ms linear,transform .12s cubic-bezier(0,0,.2,1);
box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
background-color:#fff;
background-color:var(--mdc-theme-surface,#fff);
color:#000;
color:var(--mdc-theme-on-surface,#000);
border-radius:4px;
transform-origin-left:top left;
transform-origin-right:top right
}
.mdc-menu-surface:focus
{
outline:0
}
.mdc-menu-surface--open
{
display:inline-block;
transform:scale(1);
opacity:1
}
.mdc-menu-surface--animating-open
{
display:inline-block;
transform:scale(.8);
opacity:0
}
.mdc-menu-surface--animating-closed
{
display:inline-block;
opacity:0;
transition:opacity 75ms linear
}
.mdc-menu-surface[dir=rtl],[dir=rtl] .mdc-menu-surface
{
transform-origin-left:top right;
transform-origin-right:top left
}
.mdc-menu-surface--anchor
{
position:relative;
overflow:visible
}
.mdc-menu-surface--fixed
{
position:fixed
}
.mdc-list
{
font-family:Roboto,sans-serif;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-size:1rem;
font-weight:400;
letter-spacing:.009375em;
text-decoration:inherit;
text-transform:inherit;
line-height:1.5rem;
margin:0;
padding:8px 0;
list-style-type:none;
color:rgba(0,0,0,.87);
color:var(--mdc-theme-text-primary-on-background,rgba(0,0,0,.87))
}
.mdc-list:focus
{
outline:0
}
.mdc-list-item__secondary-text
{
color:rgba(0,0,0,.54);
color:var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54))
}
.mdc-list-item__graphic
{
background-color:transparent;
color:rgba(0,0,0,.38);
color:var(--mdc-theme-text-icon-on-background,rgba(0,0,0,.38))
}
.mdc-list-item__meta
{
color:rgba(0,0,0,.38);
color:var(--mdc-theme-text-hint-on-background,rgba(0,0,0,.38))
}
.mdc-list-group__subheader
{
color:rgba(0,0,0,.87);
color:var(--mdc-theme-text-primary-on-background,rgba(0,0,0,.87))
}
.mdc-list-item--disabled .mdc-list-item__text
{
opacity:.38
}
.mdc-list-item--disabled .mdc-list-item__primary-text,.mdc-list-item--disabled .mdc-list-item__secondary-text,.mdc-list-item--disabled .mdc-list-item__text
{
color:#000;
color:var(--mdc-theme-on-surface,#000)
}
.mdc-list--dense
{
padding-top:4px;
padding-bottom:4px;
font-size:.812rem
}
.mdc-list-item
{
height:48px;
display:flex;
position:relative;
align-items:center;
justify-content:flex-start;
padding:0 16px;
overflow:hidden
}
.mdc-list-item:focus
{
outline:0
}
.mdc-list-item--activated,.mdc-list-item--activated .mdc-list-item__graphic,.mdc-list-item--selected,.mdc-list-item--selected .mdc-list-item__graphic
{
color:#6200ee;
color:var(--mdc-theme-primary,#6200ee)
}
.mdc-list-item__graphic
{
margin-left:0;
margin-right:32px;
width:24px;
height:24px;
flex-shrink:0;
align-items:center;
justify-content:center;
fill:currentColor
}
.mdc-list-item[dir=rtl] .mdc-list-item__graphic,[dir=rtl] .mdc-list-item .mdc-list-item__graphic
{
margin-left:32px;
margin-right:0
}
.mdc-list .mdc-list-item__graphic
{
display:inline-flex
}
.mdc-list-item__meta
{
margin-left:auto;
margin-right:0
}
.mdc-list-item__meta:not(.material-icons)
{
font-family:Roboto,sans-serif;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-size:.75rem;
line-height:1.25rem;
font-weight:400;
letter-spacing:.0333333333em;
text-decoration:inherit;
text-transform:inherit
}
.mdc-list-item[dir=rtl] .mdc-list-item__meta,[dir=rtl] .mdc-list-item .mdc-list-item__meta
{
margin-left:0;
margin-right:auto
}
.mdc-list-item__text
{
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden
}
.mdc-list-item__text[for]
{
pointer-events:none
}
.mdc-list-item__primary-text
{
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;
margin-top:0;
line-height:normal;
margin-bottom:-20px;
display:block
}
.mdc-list-item__primary-text::before
{
display:inline-block;
width:0;
height:32px;
content:"";
vertical-align:0
}
.mdc-list-item__primary-text::after
{
display:inline-block;
width:0;
height:20px;
content:"";
vertical-align:-20px
}
.mdc-list--dense .mdc-list-item__primary-text
{
display:block;
margin-top:0;
line-height:normal;
margin-bottom:-20px
}
.mdc-list--dense .mdc-list-item__primary-text::before
{
display:inline-block;
width:0;
height:24px;
content:"";
vertical-align:0
}
.mdc-list--dense .mdc-list-item__primary-text::after
{
display:inline-block;
width:0;
height:20px;
content:"";
vertical-align:-20px
}
.mdc-list-item__secondary-text
{
font-family:Roboto,sans-serif;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-size:.875rem;
line-height:1.25rem;
font-weight:400;
letter-spacing:.0178571429em;
text-decoration:inherit;
text-transform:inherit;
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;
margin-top:0;
line-height:normal;
display:block
}
.mdc-list-item__secondary-text::before
{
display:inline-block;
width:0;
height:20px;
content:"";
vertical-align:0
}
.mdc-list--dense .mdc-list-item__secondary-text
{
display:block;
margin-top:0;
line-height:normal;
font-size:inherit
}
.mdc-list--dense .mdc-list-item__secondary-text::before
{
display:inline-block;
width:0;
height:20px;
content:"";
vertical-align:0
}
.mdc-list--dense .mdc-list-item
{
height:40px
}
.mdc-list--dense .mdc-list-item__graphic
{
margin-left:0;
margin-right:36px;
width:20px;
height:20px
}
.mdc-list-item[dir=rtl] .mdc-list--dense .mdc-list-item__graphic,[dir=rtl] .mdc-list-item .mdc-list--dense .mdc-list-item__graphic
{
margin-left:36px;
margin-right:0
}
.mdc-list--avatar-list .mdc-list-item
{
height:56px
}
.mdc-list--avatar-list .mdc-list-item__graphic
{
margin-left:0;
margin-right:16px;
width:40px;
height:40px;
border-radius:50%
}
.mdc-list-item[dir=rtl] .mdc-list--avatar-list .mdc-list-item__graphic,[dir=rtl] .mdc-list-item .mdc-list--avatar-list .mdc-list-item__graphic
{
margin-left:16px;
margin-right:0
}
.mdc-list--two-line .mdc-list-item__text
{
align-self:flex-start
}
.mdc-list--two-line .mdc-list-item
{
height:72px
}
.mdc-list--avatar-list.mdc-list--dense .mdc-list-item,.mdc-list--two-line.mdc-list--dense .mdc-list-item
{
height:60px
}
.mdc-list--avatar-list.mdc-list--dense .mdc-list-item__graphic
{
margin-left:0;
margin-right:20px;
width:36px;
height:36px
}
.mdc-list-item[dir=rtl] .mdc-list--avatar-list.mdc-list--dense .mdc-list-item__graphic,[dir=rtl] .mdc-list-item .mdc-list--avatar-list.mdc-list--dense .mdc-list-item__graphic
{
margin-left:20px;
margin-right:0
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item
{
cursor:pointer;
--mdc-ripple-fg-size:0;
--mdc-ripple-left:0;
--mdc-ripple-top:0;
--mdc-ripple-fg-scale:1;
--mdc-ripple-fg-translate-end:0;
--mdc-ripple-fg-translate-start:0;
-webkit-tap-highlight-color:transparent
}
a.mdc-list-item
{
color:inherit;
text-decoration:none
}
.mdc-list-divider
{
height:0;
margin:0;
border:none;
border-bottom:1px solid rgba(0,0,0,.12)
}
.mdc-list-divider--padded
{
margin:0 16px
}
.mdc-list-divider--inset
{
margin-left:72px;
margin-right:0;
width:calc(100% - 72px)
}
.mdc-list-group[dir=rtl] .mdc-list-divider--inset,[dir=rtl] .mdc-list-group .mdc-list-divider--inset
{
margin-left:0;
margin-right:72px
}
.mdc-list-divider--inset.mdc-list-divider--padded
{
width:calc(100% - 72px - 16px)
}
.mdc-list-group .mdc-list
{
padding:0
}
.mdc-list-group__subheader
{
font-family:Roboto,sans-serif;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-size:1rem;
line-height:1.75rem;
font-weight:400;
letter-spacing:.009375em;
text-decoration:inherit;
text-transform:inherit;
margin:.75rem 16px
}
@-webkit-keyframes mdc-ripple-fg-radius-in
{
from
{
-webkit-animation-timing-function:cubic-bezier(.4,0,.2,1);
animation-timing-function:cubic-bezier(.4,0,.2,1);
transform:translate(var(--mdc-ripple-fg-translate-start,0)) scale(1)
}
to
{
transform:translate(var(--mdc-ripple-fg-translate-end,0)) scale(var(--mdc-ripple-fg-scale,1))
}
}
@keyframes mdc-ripple-fg-radius-in
{
from
{
-webkit-animation-timing-function:cubic-bezier(.4,0,.2,1);
animation-timing-function:cubic-bezier(.4,0,.2,1);
transform:translate(var(--mdc-ripple-fg-translate-start,0)) scale(1)
}
to
{
transform:translate(var(--mdc-ripple-fg-translate-end,0)) scale(var(--mdc-ripple-fg-scale,1))
}
}
@-webkit-keyframes mdc-ripple-fg-opacity-in
{
from
{
-webkit-animation-timing-function:linear;
animation-timing-function:linear;
opacity:0
}
to
{
opacity:var(--mdc-ripple-fg-opacity,0)
}
}
@keyframes mdc-ripple-fg-opacity-in
{
from
{
-webkit-animation-timing-function:linear;
animation-timing-function:linear;
opacity:0
}
to
{
opacity:var(--mdc-ripple-fg-opacity,0)
}
}
@-webkit-keyframes mdc-ripple-fg-opacity-out
{
from
{
-webkit-animation-timing-function:linear;
animation-timing-function:linear;
opacity:var(--mdc-ripple-fg-opacity,0)
}
to
{
opacity:0
}
}
@keyframes mdc-ripple-fg-opacity-out
{
from
{
-webkit-animation-timing-function:linear;
animation-timing-function:linear;
opacity:var(--mdc-ripple-fg-opacity,0)
}
to
{
opacity:0
}
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::after,:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::before
{
position:absolute;
border-radius:50%;
opacity:0;
pointer-events:none;
content:"";
top:calc(50% - 100%);
left:calc(50% - 100%);
width:200%;
height:200%;
background-color:#000
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::before
{
transition:opacity 15ms linear,background-color 15ms linear;
z-index:1
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded::before
{
transform:scale(var(--mdc-ripple-fg-scale,1))
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded::after
{
top:0;
left:0;
transform:scale(0);
transform-origin:center center;
width:var(--mdc-ripple-fg-size,100%);
height:var(--mdc-ripple-fg-size,100%)
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded--unbounded::after
{
top:var(--mdc-ripple-top,0);
left:var(--mdc-ripple-left,0)
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded--foreground-activation::after
{
-webkit-animation:225ms forwards mdc-ripple-fg-radius-in,75ms forwards mdc-ripple-fg-opacity-in;
animation:225ms forwards mdc-ripple-fg-radius-in,75ms forwards mdc-ripple-fg-opacity-in
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded--foreground-deactivation::after
{
-webkit-animation:150ms mdc-ripple-fg-opacity-out;
animation:150ms mdc-ripple-fg-opacity-out;
transform:translate(var(--mdc-ripple-fg-translate-end,0)) scale(var(--mdc-ripple-fg-scale,1))
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:hover::before
{
opacity:.04
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded--background-focused::before,:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:not(.mdc-ripple-upgraded):focus::before
{
transition-duration:75ms;
opacity:.12
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:not(.mdc-ripple-upgraded)::after
{
transition:opacity 150ms linear
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:not(.mdc-ripple-upgraded):active::after
{
transition-duration:75ms;
opacity:.12
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded
{
--mdc-ripple-fg-opacity:0.12
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::before
{
opacity:.12
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::after,:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::before
{
background-color:#6200ee;
background-color:var(--mdc-theme-primary,#6200ee)
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated:hover::before
{
opacity:.16
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated.mdc-ripple-upgraded--background-focused::before,:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated:not(.mdc-ripple-upgraded):focus::before
{
transition-duration:75ms;
opacity:.24
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated:not(.mdc-ripple-upgraded)::after
{
transition:opacity 150ms linear
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated:not(.mdc-ripple-upgraded):active::after
{
transition-duration:75ms;
opacity:.24
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated.mdc-ripple-upgraded
{
--mdc-ripple-fg-opacity:0.24
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected::before
{
opacity:.08
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected::after,:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected::before
{
background-color:#6200ee;
background-color:var(--mdc-theme-primary,#6200ee)
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected:hover::before
{
opacity:.12
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected.mdc-ripple-upgraded--background-focused::before,:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected:not(.mdc-ripple-upgraded):focus::before
{
transition-duration:75ms;
opacity:.2
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected:not(.mdc-ripple-upgraded)::after
{
transition:opacity 150ms linear
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected:not(.mdc-ripple-upgraded):active::after
{
transition-duration:75ms;
opacity:.2
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected.mdc-ripple-upgraded
{
--mdc-ripple-fg-opacity:0.2
}
:not(.mdc-list--non-interactive)>.mdc-list-item--disabled
{
--mdc-ripple-fg-size:0;
--mdc-ripple-left:0;
--mdc-ripple-top:0;
--mdc-ripple-fg-scale:1;
--mdc-ripple-fg-translate-end:0;
--mdc-ripple-fg-translate-start:0;
-webkit-tap-highlight-color:transparent
}
:not(.mdc-list--non-interactive)>.mdc-list-item--disabled::after,:not(.mdc-list--non-interactive)>.mdc-list-item--disabled::before
{
position:absolute;
border-radius:50%;
opacity:0;
pointer-events:none;
content:"";
top:calc(50% - 100%);
left:calc(50% - 100%);
width:200%;
height:200%;
background-color:#000
}
:not(.mdc-list--non-interactive)>.mdc-list-item--disabled::before
{
transition:opacity 15ms linear,background-color 15ms linear;
z-index:1
}
:not(.mdc-list--non-interactive)>.mdc-list-item--disabled.mdc-ripple-upgraded::before
{
transform:scale(var(--mdc-ripple-fg-scale,1))
}
:not(.mdc-list--non-interactive)>.mdc-list-item--disabled.mdc-ripple-upgraded::after
{
top:0;
left:0;
transform:scale(0);
transform-origin:center center;
width:var(--mdc-ripple-fg-size,100%);
height:var(--mdc-ripple-fg-size,100%)
}
:not(.mdc-list--non-interactive)>.mdc-list-item--disabled.mdc-ripple-upgraded--unbounded::after
{
top:var(--mdc-ripple-top,0);
left:var(--mdc-ripple-left,0)
}
:not(.mdc-list--non-interactive)>.mdc-list-item--disabled.mdc-ripple-upgraded--foreground-activation::after
{
-webkit-animation:225ms forwards mdc-ripple-fg-radius-in,75ms forwards mdc-ripple-fg-opacity-in;
animation:225ms forwards mdc-ripple-fg-radius-in,75ms forwards mdc-ripple-fg-opacity-in
}
:not(.mdc-list--non-interactive)>.mdc-list-item--disabled.mdc-ripple-upgraded--foreground-deactivation::after
{
-webkit-animation:150ms mdc-ripple-fg-opacity-out;
animation:150ms mdc-ripple-fg-opacity-out;
transform:translate(var(--mdc-ripple-fg-translate-end,0)) scale(var(--mdc-ripple-fg-scale,1))
}
:not(.mdc-list--non-interactive)>.mdc-list-item--disabled.mdc-ripple-upgraded--background-focused::before,:not(.mdc-list--non-interactive)>.mdc-list-item--disabled:not(.mdc-ripple-upgraded):focus::before
{
transition-duration:75ms;
opacity:.12
}
.u-semantic-button
{
background:0 0;
border:none;
border-radius:0;
color:inherit;
font:inherit;
text-align:inherit;
padding:0;
cursor:pointer
}
.u-hidden
{
display:none!important
}
.u-visually-hidden
{
visibility:hidden!important
}
.u-text-center
{
text-align:center
}
.u-text-right
{
text-align:right
}
.u-display-block
{
display:block!important
}
.u-display-ib
{
display:inline-block!important
}
.u-relative
{
position:relative;
z-index:1
}
.u-mb-05
{
margin-bottom:.375rem!important
}
.u-mb-10
{
margin-bottom:1rem!important
}
.u-mb-15
{
margin-bottom:1.5rem!important
}
.u-mb-20
{
margin-bottom:2rem!important
}
.u-mt-10
{
margin-top:1rem!important
}
.u-mt-15
{
margin-top:1.5rem!important
}
.u-mt-20
{
margin-top:2rem!important
}
.u-fw-700
{
font-weight:700
}
.u-text-muted
{
color:#929292
}
.u-text-overflow
{
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap
}
.u-text-nowrap
{
white-space:nowrap
}
.u-emoji
{
font-family:Apple Color Emoji,Segoe UI Emoji,sans-serif;
color:inherit
}
.u-select-all
{
-webkit-user-select:all;
-moz-user-select:all;
-ms-user-select:all;
user-select:all
}
.u-aspect-ratio
{
max-width:100%;
margin:0
}
.u-aspect-ratio>img,.u-aspect-ratio>svg
{
width:100%;
height:auto
}
@supports (--a:b)
{
.u-aspect-ratio
{
position:relative
}
.u-aspect-ratio::before
{
content:"";
display:block;
padding-bottom:calc(100% / (var(--aspect-ratio)))
}
.u-aspect-ratio>img,.u-aspect-ratio>svg
{
position:absolute;
top:0;
left:0;
height:100%
}
}
@media (min-width:1200px)
{
.u-hidden-xlarge-up
{
display:none!important
}
}
@media (max-width:1199px)
{
.u-hidden-xlarge-down
{
display:none!important
}
}
@media (min-width:960px)
{
.u-hidden-large-up
{
display:none!important
}
}
@media (max-width:959px)
{
.u-hidden-large-down
{
display:none!important
}
}
@media (min-width:700px)
{
.u-select-all
{
-webkit-user-select:auto;
-moz-user-select:auto;
-ms-user-select:auto;
user-select:auto
}
.u-hidden-medium-up
{
display:none!important
}
}
@media (max-width:699px)
{
.u-hidden-medium-down
{
display:none!important
}
}
@media (max-width:449px)
{
.u-hidden-small-down
{
display:none!important
}
}
@media (max-width:349px)
{
.u-hidden-mini-down
{
display:none!important
}
}
@font-face
{
font-family:Inter;
src:url(/fonts/56b59a5.woff) format('woff'),url(/fonts/a36183b.woff) format('woff');
font-weight:400;
font-style:normal;
font-display:swap
}
@font-face
{
font-family:Inter;
src:url(/fonts/ba8d7ec.woff) format('woff'),url(/fonts/b9bb917.woff) format('woff2');
font-weight:600;
font-style:normal;
font-display:swap
}
@font-face
{
font-family:Inter;
src:url(/fonts/29eed9c.woff) format('woff'),url(/fonts/a1a3ac3.woff) format('woff2');
font-weight:700;
font-style:normal;
font-display:swap
}
@font-face
{
font-family:Inter;
src:url(/fonts/c6dea63.woff) format('woff'),url(/fonts/2ff7be0.woff) format('woff2');
font-weight:800;
font-style:normal;
font-display:swap
}
*,::after,::before
{
box-sizing:border-box
}
html
{
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
overflow-y:scroll;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
-webkit-overflow-scrolling:touch;
font-family:Inter,system-ui,-apple-system,Segoe UI,SimSun,PingFang SC,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
font-size:16px;
line-height:1.533;
color:#222;
font-weight:400;
background:#fffcfb
}
body
{
font-size:15px;
margin:0
}
.link,a
{
color:inherit;
outline:0;
text-decoration:none;
-webkit-text-decoration-skip:ink;
text-decoration-skip-ink:auto;
transition:.1s
}
.link:focus,.link:hover,a:focus,a:hover
{
outline:0
}
.no-link
{
text-decoration:none
}
.link--main,.link--main:focus,.link--main:hover
{
color:#d15c22
}
.link--green,.link--green:focus,.link--green:hover
{
color:#12c841
}
.link--white,.link--white:focus,.link--white:hover
{
color:#fff
}
.link--opacity
{
text-decoration:none;
transition:.1s
}
.link--opacity:focus,.link--opacity:hover
{
opacity:.65
}
.link--hover:focus,.link--hover:hover,.link--underline
{
text-decoration:underline
}
.link--underline:focus,.link--underline:hover
{
text-decoration:none
}
.link--default
{
text-decoration:underline;
font-weight:600
}
.link--default,.link--default:focus,.link--default:hover
{
color:#d15c22
}
.link--default:focus,.link--default:hover
{
text-decoration:none
}
ol,p,ul
{
margin:0
}
h5+h5,h5+ol,h5+p,h5+ul,ol+h5,ol+ol,ol+p,ol+ul,p+h5,p+ol,p+p,p+ul,ul+h5,ul+ol,ul+p,ul+ul
{
margin-top:.75rem
}
sub,sup
{
font-size:75%
}
.no-list
{
padding:0;
margin:0
}
.no-list li
{
list-style:none
}
.list-simple
{
padding:0
}
.list-simple li
{
list-style:none;
position:relative;
padding-left:25px
}
.list-simple li::before
{
content:'•';
position:absolute;
left:0;
top:0
}
.list-simple li+li
{
margin-top:10px
}
:-moz-focusring
{
outline:0
}
input,select,textarea
{
font:inherit;
color:#222;
outline:0;
caret-color:#d15c22
}
input::-webkit-input-placeholder,select::-webkit-input-placeholder,textarea::-webkit-input-placeholder
{
color:#a4a4a4;
opacity:1
}
input::-moz-placeholder,select::-moz-placeholder,textarea::-moz-placeholder
{
color:#a4a4a4;
opacity:1
}
input:-ms-input-placeholder,select:-ms-input-placeholder,textarea:-ms-input-placeholder
{
color:#a4a4a4;
opacity:1
}
input::-ms-input-placeholder,select::-ms-input-placeholder,textarea::-ms-input-placeholder
{
color:#a4a4a4;
opacity:1
}
input::placeholder,select::placeholder,textarea::placeholder
{
color:#a4a4a4;
opacity:1
}
.u-h,h1,h2,h3,h4,h5,h6
{
margin:0;
font-family:Inter,system-ui,-apple-system,Segoe UI,SimSun,PingFang SC,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
font-weight:700;
line-height:1.2
}
.u-h1
{
font-size:32px;
line-height:1.22;
font-weight:800
}
.u-h2
{
font-size:24px
}
.u-h3
{
font-size:18px;
line-height:1.21
}
.u-h4
{
font-size:14px;
line-height:1.1
}
.u-h5
{
font:inherit;
font-weight:600
}
@media (min-width:450px)
{
.u-hidden-small-up
{
display:none!important
}
.u-h1
{
font-size:49px;
line-height:1.2;
letter-spacing:-.33px
}
.u-h2
{
font-size:29px
}
.u-h3
{
font-size:19px
}
.u-h4
{
font-size:15px
}


}
hr
{
box-sizing:content-box;
height:0;
overflow:visible;
border:none;
border-top:1px solid #00000019
}
.hr--divider
{
margin:48px 0
}
.hr--section-divider
{
margin:0
}
.button
{
display:inline-flex;
align-items:center;
justify-content:center;
padding:8px 22px;
font-size:16px;
line-height:20px;
font-weight:600;
font-family:Inter,system-ui,-apple-system,Segoe UI,SimSun,PingFang SC,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
background:#fff;
color:#222;
border-radius:10px;
text-align:center;
border:2px solid transparent;
text-decoration:none;
transition:.1s;
position:relative;
overflow:hidden;
vertical-align:top
}
.button.is-disabled,.button[disabled]
{
cursor:default
}
.button.is-disabled:not(.is-loading),.button[disabled]:not(.is-loading)
{
background:#b3b3b3;
box-shadow:none
}
.button.is-loading .button__content
{
color:transparent
}
.button--icon
{
padding-left:48px
}
.button__icon
{
position:absolute;
left:28px;
top:50%;
transform:translate(-50%,-50%)
}
.button--full
{
display:block;
width:100%
}
.minter_color
{
color:#d15c22;
}
.team_link
{
color:#d15c22;
font-weight:bold;
}
.button--main
{
color:#fff;
background:#d15c22
}
.button--main:focus,.button--main:hover
{
background:#d66c38
}
.button--main:active
{
background:#bc531f
}
.button--ghost-green
{
color:#12c841;
background:0 0;
border-color:#12c841
}
.button--ghost-green:focus,.button--ghost-green:hover
{
background:rgba(18,200,65,.2)
}
.button--ghost-green:active
{
background:rgba(18,200,65,.4)
}
.button-group
{
display:flex;
flex-direction:row;
flex-wrap:wrap;
align-items:center;
margin-top:-10px;
margin-left:-16px
}
.button-group .button,.button-group .link--default
{
margin-top:10px;
margin-left:16px
}
.button-loader
{
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
width:42px;
height:42px;
margin:auto;
opacity:0;
pointer-events:none;
-webkit-animation:2s linear infinite button-loader-rotate;
animation:2s linear infinite button-loader-rotate
}
.is-loading>.button-loader
{
opacity:1
}
.button-loader__path
{
fill:none;
stroke:currentColor;
stroke-width:2px;
stroke-linecap:round;
-webkit-animation:1.5s ease-in-out infinite button-loader-dash;
animation:1.5s ease-in-out infinite button-loader-dash
}
@-webkit-keyframes button-loader-rotate
{
0%
{
transform:rotate(-90deg)
}
100%
{
transform:rotate(270deg)
}
}
@keyframes button-loader-rotate
{
0%
{
transform:rotate(-90deg)
}
100%
{
transform:rotate(270deg)
}
}
@-webkit-keyframes button-loader-dash
{
0%
{
stroke-dasharray:1,200;
stroke-dashoffset:0
}
50%
{
stroke-dasharray:60.288,200;
stroke-dashoffset:0
}
100%
{
stroke-dasharray:60.288,200;
stroke-dashoffset:-74.36px
}
}
@keyframes button-loader-dash
{
0%
{
stroke-dasharray:1,200;
stroke-dashoffset:0
}
50%
{
stroke-dasharray:60.288,200;
stroke-dashoffset:0
}
100%
{
stroke-dasharray:60.288,200;
stroke-dashoffset:-74.36px
}
}
.u-container
{
padding:0 16px;
margin:0 auto;
width:100%
}
.u-container-margin
{
margin:0 auto
}
@media (min-width:450px)
{
.u-container
{
padding:0 24px;
max-width:816px
}
.u-container--large
{
max-width:1248px
}
}
.u-section
{
padding-top:48px;
padding-bottom:48px
}
.u-section--gray
{
background:#f8f8f8
}
@media (min-width:700px)
{
.u-section
{
padding-top:64px;
padding-bottom:64px
}
}
.panel
{
border-radius:8px;
background:#fff;
border:1px solid #e6e6e6
}
.panel__section
{
padding:18px
}
.u-grid
{
display:flex;
flex-wrap:wrap;
margin-left:-16px
}
.u-grid>.u-cell
{
padding-left:16px
}
.u-grid--no-margin
{
margin-left:0
}
.u-grid--no-margin>.u-cell
{
padding-left:0
}
.u-grid--vertical-margin
{
margin-top:-24px
}
.u-grid--vertical-margin>.u-cell
{
padding-top:24px
}
.u-grid--vertical-margin--large
{
margin-top:-48px
}
.u-grid--vertical-margin--large>.u-cell
{
padding-top:48px
}
.u-grid--align-center
{
align-items:center
}
.u-cell
{
width:100%
}
.u-cell--1-2
{
width:50%
}
.u-cell--1-3
{
width:33.3333%
}
.u-cell--2-3
{
width:66.6666%
}
@media (min-width:350px)
{
.u-cell--mini--1-2
{
width:50%
}
}
@media (min-width:450px)
{
.u-grid
{
margin-left:-24px
}
.u-grid>.u-cell
{
padding-left:24px
}
.u-grid--large
{
margin-left:-48px
}
.u-grid--large>.u-cell
{
padding-left:48px
}
.u-cell--small--1-2
{
width:50%
}
.u-cell--small--1-3
{
width:33.3333%
}
.u-cell--small--2-3
{
width:66.6666%
}
}
@media (min-width:700px)
{
.u-cell--medium--1-2
{
width:50%
}
.u-cell--medium--1-3
{
width:33.3333%
}
.u-cell--medium--2-3
{
width:66.6666%
}
.u-cell--medium--1-4
{
width:25%
}
.u-cell--medium--4-10
{
width:40%
}
.u-cell--medium--6-10
{
width:60%
}
}
@media (min-width:960px)
{
.u-cell--large--1-2
{
width:50%
}
.u-cell--large--1-3
{
width:33.3333%
}
.u-cell--large--2-3
{
width:66.6666%
}
}
@media (min-width:1200px)
{
.u-cell--xlarge--1-3
{
width:33.3333%
}
}
.mdc-snackbar__action-button
{
color:#fff
}
.page-enter,.page-leave-to
{
opacity:0
}
.main-wrap
{
display:flex;
flex-direction:column;
min-height:100vh;
position:relative
}
.main-content
{
width:100%;
flex-grow:2;
overflow:hidden
}
.layout-leave-active,.page-leave-active
{
transition:opacity .1s
}
.layout-enter-active,.page-enter-active
{
transition:opacity .25s
}
.layout-enter,.layout-leave-to,.page-enter,.page-leave-to
{
opacity:0
}
.v-transition-fade-enter-active,.v-transition-fade-leave-active
{
transition:opacity .15s
}
.v-transition-fade-enter,.v-transition-fade-leave-to
{
opacity:0
}
.social-list
{
margin-top:-8px;
margin-left:-8px;
display:flex;
flex-wrap:wrap
}
.social-button
{
margin-top:8px;
margin-left:8px;
height:40px;
width:40px;
display:flex;
align-items:center;
justify-content:center;
border-radius:8px
}
.social-icon
{
margin-top:8px;
margin-left:8px
}
.social-icon:focus,.social-icon:hover
{
opacity:.75
}
.social-icon img
{
vertical-align:top
}
.social--facebook
{
color:#fff;
background:#38569d
}
.social--facebook:focus,.social--facebook:hover
{
background:#566fac
}
.social--facebook:active
{
background:#324d8d
}
.social--telegram
{
color:#fff;
background:#349dde
}
.social--telegram:focus,.social--telegram:hover
{
background:#52ace3
}
.social--telegram:active
{
background:#2f8dc8
}
.social--vk
{
color:#fff;
background:#507199
}
.social--vk:focus,.social--vk:hover
{
background:#6a86a8
}
.social--vk:active
{
background:#48668a
}
.social--twitter
{
color:#fff;
background:#1da1f2
}
.social--twitter:focus,.social--twitter:hover
{
background:#3faff4
}
.social--twitter:active
{
background:#1a91da
}
.social--whatsapp
{
color:#fff;
background:#51ca60
}
.social--whatsapp:focus,.social--whatsapp:hover
{
background:#6bd278
}
.social--whatsapp:active
{
background:#49b656
}
.header
{
position:relative;
z-index:10;
height:68px
}
.header--white
{
box-shadow:0 2px 40px rgba(0,0,0,.1)
}
.header__container
{
display:flex;
align-items:center;
flex-wrap:wrap;
justify-content:space-between;
top:0;
min-height:100%
}
.header__logo
{
margin-right:24px
}
.header__logo-image
{
display:block;
font-size:0
}
.header__wallet-button
{
margin-left:24px
}
.header__language
{
margin-right:auto
}
.header__language-button
{
display:flex;
align-items:center;
text-transform:uppercase;
font-size:16px;
font-weight:700;
letter-spacing:1px
}
.header__language-button-icon
{
font-size:0;
margin-right:8px
}
.header__language-text
{
margin-right:16px
}
.footer
{
background:#222;
color:#fff;
padding:24px 0 30px;
width:100%;
position:relative;
z-index:9
}
.footer__container
{
display:flex;
justify-content:space-around;
flex-wrap:wrap;
margin-top:-24px
}
.footer__stats-item
{
text-align:center;
margin-top:24px
}
.footer__stats-key
{
font-size:12px;
line-height:16px;
text-transform:uppercase;
font-weight:700;
letter-spacing:1.5px;
opacity:.5
}
.footer__stats-value
{
font-weight:700;
margin-top:8px
}
@media (min-width:450px)
{
.header__language
{
margin-left:auto;
margin-right:0
}
.footer__container
{
justify-content:space-between
}
}
.main-content--error
{
display:flex;
flex-direction:column
}
.error__container
{
display:flex;
flex-direction:column;
flex-grow:2
}
.error__inner
{
max-height:674px;
flex-grow:2;
display:flex;
flex-direction:column;
justify-content:flex-end;
position:relative
}
.error__image
{
position:absolute;
right:-64px;
top:-20px;
max-height:calc(100% + 30px);
max-width:calc(100% + 12px);
z-index:-1
}
.error__title
{
margin-bottom:16px
}
.error__description
{
font-size:20px;
font-weight:700;
text-transform:uppercase;
max-width:320px
}
.error__link
{
font-size:24px;
font-weight:700
}
.index-section
{
padding-top:10px;
padding-bottom:60px
}
.index-intro__title
{
margin-top:24px
}
.index-intro__button
{
margin-top:32px
}
@media (min-width:450px)
{
.index-section
{
padding-top:10px;
padding-bottom:60px;
}
}
.index-intro__title
{
margin-top:24px
}
.index-intro__button
{
margin-top:32px
}
@media (min-width:450px)
{
.index-section
{
padding-top:20px;
padding-bottom:40px;
}
}
.index-feature__icon
{
vertical-align:top
}
.index-feature__title
{
margin-top:16px
}
.index-feature__description
{
margin-top:8px;
font-size:17px
}
